.card {
  background: #fff;
  border-radius: 20px;
  height: 280px;
  margin: 1rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;

  
}

.card > .img-container {
  height: 90%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
  
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  text-align: center;
  background-color: #6CADDC;
  
}
.card>.content>button{
  margin : 10px
}





